div.container{
	width:911px !important;
}
div.footer{
	height:60px!important;
	/*padding-bottom:15px;*/
	padding:0px;
	padding-bottom:15px!important;
	background-image:url('../images/footer_bg.jpg');
	background-repeat:repeat-x !important;
}
div.footer p{
	margin-top:15px;
}
input.search{
	width:159px!important;
}
div.header{
	background-image:url('../images/head_bg.jpg');
	background-repeat:repeat-x !important;
}
div.search{
	text-align:left!important;
	margin-bottom:10px!important;
	height:20px;
}
form.search{
	margin:0px!important;
	height:20px!important;
}
input.search{
	border:1px solid #000000!important;
	margin-left:0px!important;
	/*width:150px !important;*/
	/*height:20px!important;*/
}

input#go{
	border:1px solid #000000!important;
	padding-top:0px!important;
	padding-bottom:0px !important;
	padding-right:5px!important;
	padding-left:0px!important;
	width:40px!important;
	height:20px !important;
	margin-top:0px;
	margin-left:-8px!important;
	margin-right:0px!important;
	margin-bottom:0px!important;
	bottom:0px!important;
}
div.block ul {
	margin-left: 0px;
}
