body {
	text-align: center;
	margin-top:0px;
	MARGIN:0;
	background-image:url('../images/bg.jpg');
	background-attachment: fixed;
}
div.title{
	float:left;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:30px;
	color:#ffffff;
}
div.wrapper{
	width:100%;
	/*height:auto;*/
	/*min-height: 100%;*/
	margin-left:0;
	margin-right:0;
	display: inline-block;
	background-image:url('../images/grad_l.png');
	background-repeat: repeat-y;
	vertical-align: baseline;
}
div.wrapper2{
	vertical-align: baseline;
	width:100%;
	/*height:100%;*/
	/*min-height: 100%;*/
	margin-left:0;
	margin-right:0;
	display: inline-block;
	background-image:url('../images/grad_r.png');
	background-repeat: repeat-y;
	background-position:right;
}
div.header{
	width:100%;
	height: 40px;
	border-bottom:1px solid #7a7a7a;
	background: #7abcff; 
}
div.head_wrap{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}
div.innerContain{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:30px;
	color:#ffffff;
}
div.search{
	text-align:left;
	margin-bottom:10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 7px 7px 7px #7A7A7A;
}
form.search{
	margin:0px;
	height:20px;
}
input.search{
	border:1px solid #000000;
	margin-left:0px;
	width:159px;
	/*height:20px;*/
}
input.go{
	border:1px solid #000000;
	font-size:0.7em;
	padding-top:0!important;
	background-color:#D6D6D6;
	width:40px;
	height:20px;
	margin-left:-5px;
	margin-right:0px;
	margin-bottom:0px;
	bottom:3px;
	border-radius:0 5px 5px 0px !important;
}
form.login{
	margin-bottom:5px;
}
div.login{
	float:right;
	margin-top:7px;
}
input.login{
	border:1px solid #000000;
	width:140px;
	border-radius:5px;
	margin-bottom:2px;
}
input#login{
	background-color:#A7BCE8;
	width:50px;
	font-size:0.7em;
	height:20px;
	padding: 0px;
	padding-top:1px;
}
div.sidebar{
	float:right;
	width:200px;
	margin-right:3px;
	margin-left:20px;
	border-radius:5px;
	display: inline-block;
}
div.container{
	text-align:center;
	padding:10px 5px 5px 5px;
	width:900px !important;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	height:100%;
}
div.block{
	background-color:#e0ecfc;
	border:1px solid #000;
	height:auto;
	color:#000000;
	padding:2px;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	text-align:left;
	padding-left:5px;
	margin-bottom:10px;
	box-shadow: 7px 7px 7px #919191;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
div.block ul {
	padding:0px;
	margin-top: 0px;
	margin-bottom:0px;
}
div.block ul li{
	height:20px;
	margin-right:2px;
	text-align:left;
	padding-left:5px;
	list-style-type:none;
}
a.menu{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#000000;
	text-decoration:none;
}
a:hover.menu{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#000000;
	text-decoration:underline;
}
div.sites{
	background-color:#F2F2F2;
	border:1px solid #000;
	height:auto;
	color:#000000;
	padding:2px;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	text-align:left;
	padding-left:5px;
	box-shadow: 7px 7px 7px #919191;
	border-bottom-right-radius: 5px;
}
div.entries{
	display: inline-block;
	padding-left:2px;
	margin-left:auto;
	margin-right:auto;
	float:left;
	width:675px;
}
div.entry{
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-bottom: 1px dotted #ffffff;
	float:left;
	border-bottom-width:0;
	margin-bottom:10px;
	padding-bottom:0;
	width:100%;
	box-shadow: 7px 7px 7px #919191;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
div.tools{
	border:1px solid #000000;
	border-bottom-width:0;
	background-color:#7ABCFF;
	height:20px;
	margin-bottom:0px;
	margin-left: 0px; 
	margin-right: 0px;
	padding:0px 0px 0px 5px;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	border-top-left-radius: 5px;
}
a.tools{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	text-decoration:none;
}
a:hover.tools{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	text-decoration:underline;
}
div.tool1{
	float:left;
}
div.tool2{
	float:left;
	text-align:left;
	padding-left:4px;
}
div.tool3{
	float:right;
	text-align:right;
	padding-right:0px;
	margin-right:5px;
}
div.quote{
	border:1px solid #000000;
	background-color:#ffffff;
	margin-left: 0px;
	margin-right: 0px;
	padding-left:20px;
}
div.share{
	border:1px solid #000000;
	border-top-width:0px;
	background-color:#4096EE;
	height:20px;
	margin-left: 0px; 
	margin-right: 0px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-left:5px;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	border-bottom-left-radius: 5px;
}
a.share{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	text-decoration:none;
}
a:hover.share{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	text-decoration:underline;
}
div.share1{
	float:left;
}
div.share2{
	float:right;
	text-align:right;
	padding-right:5px;
}
div.footer{
	width:100%;
	height: 75px;
	margin-bottom:0px;
	/*margin: -45px auto 0;
	margin-top:50px;*/
	vertical-align: baseline;
	border-top:1px solid #7a7a7a;
	padding-bottom:0px;
	background: #60ABF8;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#ffffff;
	/*position:absolute;
	bottom:0px;*/
	}
div.main{
	width:675px;
	/*float:left;*/
}
div.news{
	background-image:url('../images/clouds.jpg');
	float:left;
	padding-left:2px;
	height:200px;
	width:675px;
	border:1px solid #000;
	margin-bottom:10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 7px 7px 7px #919191;
}
#capslock
{
	display:none;
	background-color:#efff79;
	color:#f00;
	background-image:url('../images/clouds.jpg');
	border:1px solid #000;
	margin:.5em;
	padding:.5em;
	font-size:90%;
	font-weight:bold;
	width:15em;
	border-radius:5px;
	position:absolute;
}

