input.search{
	height:16px!important;
	width:159px!important;
}
input.go{
	top:2px !important;
	padding:0.4em 1em !important;
	-moz-border-radius:0 5px 5px 0px !important;
	height:20px!important;
}
#login{
	padding:1px 0 3px !important;
}
div.header{
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); 
}
div.search{
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-box-shadow: 7px 7px 7px #7A7A7A;
}
input.login{
	-moz-border-radius:5px;
}
div.sidebar{
	-moz-border-radius:5px;
}
div.block{
	-moz-box-shadow: 7px 7px 7px #919191;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topright: 5px;
}
div.sites{
	-moz-box-shadow: 7px 7px 7px #919191;
	-moz-border-radius-bottomright: 5px;
}
div.entry{
	-moz-box-shadow: 7px 7px 7px #919191;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
}
div.tools{
	-moz-border-radius-topleft: 5px;
}
div.share{
	-moz-border-radius-bottomleft: 5px;
}
div.footer{
	background: -moz-linear-gradient(top, #4096ee 0%, #60abf8 44%, #7abcff 100%); /* firefox */
	padding-bottom:0px!important;
}
div.news{
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-box-shadow: 7px 7px 7px #919191;
}
#capslock{
	-moz-border-radius:5px;
	-moz-box-shadow:2px 2px 2px #919191;
}
